@import "libs/assets/styles/variables.scss";

@media (min-width: 500px) {
  .file,
  p-image {
    background-color: $bg-light;
    height: 150px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 500px) {
  .file,
  p-image {
    background-color: $bg-light;
    height: 100px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
  }
}
h3 {
  text-align: center !important;
  margin: 20px 0px;
}

.custom-file-button input[type="file"] {
  margin-left: -2px !important;
}

.custom-file-button input[type="file"]::-webkit-file-upload-button {
  display: none;
}

.custom-file-button input[type="file"]::file-selector-button {
  display: none;
}

.custom-file-button:hover label {
  background-color: #dde0e3;
  cursor: pointer;
}

.myAdd {
  background-color: #f9f9f9;
  font-size: 12px;
  font-weight: 500;
}
.myUpload {
  background-color: #f36e32;
  font-size: 12px;
  font-weight: 500;
}

