.addDiv {
  border: 2px dashed #8a8aa5;
  color: #8a8aa5;
  font-size: 16px;
  cursor: pointer;
}
label {
  font-size: 12px;
}

th {

  text-align: center;
}

td {
  min-width: 200px;
  text-align: center;
}
