.border-dark{
    border-color: #8A8AA5 !important;
}

h6{
    color: #8A8AA5 !important;
    cursor: pointer;
    margin-bottom : 0;

    
}

.activeLink{
    color: #0080B7 !important;
    border-bottom: #0080B7 4px solid;
    
}

