<div class="bg-primary">
  <app-navbar>

  </app-navbar>
</div>
<div class="container py-4">
  <div class="py-4">
    <div class="header px-4 px-md-5">
      <div class="row h-100 row-cols-2 align-items-center">
        <div class="mt-8">
          <h1 class="display-4 fw-700 text-primary d-none d-md-block">
            {{'types'|translate}}
          </h1>
          <h1 class="fw-700 text-primary d-block d-md-none">{{'types'|translate}}</h1>
          <nav class=" fs-18">
            <a class="text-decoration-none text-primary">{{'home' |translate}}/ </a>
            <a class="text-decoration-none text-primary">{{'types'|translate}}</a>
          </nav>
        </div>
        <div class="d-flex justify-content-center">
          <img src="assets/images/bgs/about.png" alt="about-takid" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div *ngIf="(lang.isAr | async)">
      <p class="text-primary fs-4 fw-bold">شروط واحكام الاستخدام </p>
      <p>اتفاقية شروط واحكام الاستخدام:-</p>
      <p>
        تمثل هذه الضوابط والشروط اتفاق رسمي “عقد” بين شركة تأكيد لتقنية المعلومات “منصة تأكيد” ومستخدمي المنصة. تحكم
        شروط الاستخدام هذه استخدامكم لخدمة منصة تأكيد والذي هو عبارة عن نظام إلكتروني يوفر للعملاء والمستخدمين ادارة
        وتشغيل عمليات الحراسات الامنية المدنية الخاصة على نطاق متخصص في امن الحراسات الخاصة .
        إن أي استخدام من قبلك للخدمات التي يوفرها نظام ’’منصة تأكيد’’ يشكل موافقة منك على هذا العقد وجميع أحكامه وشروطه،
        وطبقا لذلك يجب عليك عدم استخدام النظام في حال لم تكن موافقاً على الأحكام والشروط الواردة في هذا العقد.
        تحتفظ ’’منصة تأكيد ’’ بحق تعديل أو تغيير هذه الأحكام والشروط دون إخطار مسبق، ويكون من مسؤوليتك كمستخدم للنظام
        مراجعة ضوابط وشروط الاستخدام بشكل دوري لمعرفة التحديثات التي تطرأ على هذه الأحكام والشروط، كما نأمل مراجعة سياسة
        الخصوصية لدينا لمعرفة المزيد حول كيفية استخدام ,,منصة تأكيد ,, للمعلومات التي تقدم لنا من قبل مستخدمي النظام.

      </p>
      <p>
        أحقية الحصول على الخدمات<br>
        أنت تقر وتضمن التالي:

      </p>
      <p>أنه لم يسبق أن تم تعطيل استخدامك لخدمات ’’تأكيد’’ أو منعك من استخدامها في أي وقت من الأوقات.
        أنك لست منافساً ’’لتأكيد’’ كما أنك لا تقدم أي منتج منافس للخدمات المقدمة من ’’منصة تأكيد ’’.
        أنك تتمتع بكامل القوة والأهلية المعتبرة والسلطة للتعاقد وأنك بذلك لن تكون منتهكاً لأي قانون أو عقد.
      </p>
      <p>التعهدات والضمانات:<br>
        أنت تقر وتضمن بأنك سوف:
      </p>
      <p>. تمتثل لكافة القوانين واللوائح المعمول بها في المملكة العربية السعودية.<br>
        . تقدم معلومات صحيحة ودقيقة إلى ’’ منصة تأكيد ’’ وتقوم بتحديثها بشكل دوري.
        <br>
        . تُراجع وتمتثل لأي إشعارات يتم إرسالها من خلال ’’ منصة تأكيد ’’ أو ذكرها في منصات تأكيد والشركات التابعة لها
        فيما يتعلق باستخدامك للخدمات المقدمة من نظام ’’تأكيد ’’.
        <br>
        . لن تقوم بتكرار تراخيص من الباطن، أو إصدار، أو نشر، أو نقل، أو توزيع، أو
        تنفيذ، أو عرض، أو بيع، أو إعادة تصنيف خدمات ’’ تأكيد’’، وإلا فإنك تكون قد نقلت الخدمة أو قمت باستغلالها تجارياً،
        باستثناء ما يسمح به بموجب هذا العقد.
        <br>
        . سوف تستخدم الخدمة لأغراض مشروعة فقط، ولن تستخدم الخدمات لإرسال أو تخزين
        أي مواد غير قانونية أو بهدف الاحتيال.<br>
        . لن تستخدم الخدمة للتسبب في إيذاء أو مضايقة أو إزعاج أحد ما او الاضرار به باي حال من الأحوال .<br>
        . لن تعرقل التشغيل السليم لنظام ,, تأكيد ,,.<br>
        . لن تحاول إلحاق الضرر بالخدمة بأي شكل من الأشكال.<br>
        . لن تنسخ أو توزع النظام أو المحتويات الأخرى دون الحصول على إذن كتابي من منصة تأكيد.<br>
        . سوف تحافظ على كلمة المرور لحسابك أو أي وسيلة تعريف نقدمها لك وتتيح الدخول إلى حسابك، بشكلٍ آمن وسري.<br>
        . سوف تقدم لنا كافة الدلائل التي تثبت هويتك وفقاً لتقرير منصة تأكيد الخاص.<br>
        . يحق لمنصة تأكيد رفض تقديم الخدمة أو استخدام النظام دون إبداء أسباب.<br>
        . تقر أن البيانات المدخلة في ملفك والنظام صحيحة وكاملة، وفي حال وجود بيانات غير صحيحة أو منقوصة قد تتسبب في رفض
        تقديم الخدمة وتكون عرضة للمساءلة القانونية لدى الجهات المختصة بذلك في المملكة .<br>
        . تقر بأن جميع المرفقات والمستندات المقدمة منك صحيحة وكاملة، وأنه في حال ثبت عدم صحتها أو إخفاء مستندات كان يلزم
        تقديمها قد يتسبب في رفض طلبك وتكون عرضة للمساءلة القانونية والتجاهل لطلبك من منصة تأكيد .<br>
        . تقر باطلاعك على كافة الشروط والاحكام لمنصة تأكيد والالتزام بكافة التعهدات المذكورة وعلمك بطريقة استخدام
        المنصة، والتزامك بكافة الإجراءات المتبعة في التسجيل والاستخدام للمنصة، ولا يحق لك الاعتراض على أي منها أو
        الادعاء بعدم علمك بها لاحقاً او المطالبة بالتعويض او استرداد المبالغ المدفوعة في حال تسجيلك بالخدمات .<br>
      </p>
      <p>
        تعهد خاص بممثلي شركات الحراسات الأمنية والمنشآت المتعاقدة معها:<br>
        أتعهد بالقيام بتعبئة وتحديث نموذج معلومات الأنظمة الأمنية للمنشآت التجارية والحكومية للمنشأة الخاصة بي بشكل
        دوري.<br>
        اتعهد بالقيام بتعبئة وتحديث نموذج معلومات الأنظمة الأمنية للمنشآت التجارية والحكومية وذلك لجميع العقود المبرمة
        مع المنشأة.<br>

      </p>
      <p>
        نطاق الترخيص
        <br>
        - تمنحك ,, منصة تأكيد ,, ترخيص غير حصري، وغير قابل للتحويل، او للتنازل، او للترخيص من الباطن وغير قابل للإلغاء
        وذلك للحصول على خدماتنا واستخدامها فقط للغرض الشخصي المحدد وفقاً لهذا العقد، لذا يجب عليك
        -عدم إتاحة الخدمات أو تأجير، أو استئجار أو تخصيص أو إعادة بيع، أو توزيع أو ترخيص من الباطن لهذه الخدمات إلى أي
        طرف ثالث. <br>
        - عدم تعديل، أو اختزال، أو ترجمة، أو تلخيص، أو إنشاء عمل فرعي يقوم على فك، أو تنفيذ هندسة عكسية لتصميم ’’منصة
        تأكيد ’’ أو خلاف ذلك من تحديد أو محاولة تحديد أو محاولة الوصول إلى شفرة المصدر أو التصميم الداخلي للخدمات أو أي
        نص أو الوسائط المتعددة (صور، صوتيات، ملفات فيديو)، أو البيانات و غيرها من المعلومات التي تقدمها ,, منصة تأكيد ,,
        أو الطرف الثالث من مقدمي الخدمة. <br>
        - عدم حذف، أو تغيير، أو احداث أي تعديل على أي حق من حقوق النشر أو غيرها من الإخطارات الرسمية الواردة في الخدمات
        والاشعارات . <br>
        - عدم تعمد نقل، أو توزيع الخدمات، أو السماح بتحميل الخدمات للاستخدام بخلاف ما هو محدد في هذه الاتفاقية. عدم
        الادعاء بمنح الخدمات أو السماح بالوصول إليها لأي شخص غيرك مالم يكون قد حصل على ترخيص من ,, منصة تأكيد ,, <br>
        - عدم السماح بمشاركة اسم المستخدم/ أو كلمة المرور أو غيرها من مسوغات الوصول إلى خدمات منصة تأكيد مع أي طرف ثالث
        ليس له علاقة بالمنصة أي غير مشترك .
      </p>
      حقوق الملكية الفكرية
      جميع حقوق الملكية الفكرية لهذه الخدمات وكافة المواد المتعلقة بها والتابعة لها أو التي تظهر عليها (وتشمل أي محتوى
      تقوم بتقديمه أو بإدراجه) هو ملكية خاصة لمنصة تأكيد. ويجب عليك ألا تقوم بإعادة إنتاج أو السماح لأي شخص – لأي سبب من
      الأسباب – باستخدام أو إعادة إنتاج الخدمات أو أي علامات تجارية أو الأسماء التجارية وغيرها من الخدمات التي تظهر في
      الخدمة المقدمة للطرف الثاني .<br>
      الدفع
      - تحتفظ منصة تأكيد لنفسها بالحق في فرض رسوم جديدة على استخدام الخدمة. إذا قررت منصة تأكيد فرض رسوم جديدة، فإنه
      سيتم إفادتك بذلك وسيتم السماح لك بالاستمرار في العقد أو إنهائه.<br>
      - يجوز لمنصة تأكيد تعديل أو تحديث الأسعار من وقت لآخر. ويقع على عاتقك مسؤولية البقاء على معرفة بالأسعار الحالية
      للخدمات المقدمة من خلال صفحة الأسعار ويمكن الوصول لها من خلال الصفحة الرئيسية.
      - يتوجب عليك دفع قيمة الخدمات إلى منصة تأكيد عن طريق الحوالات البنكية إلى الحساب البنكي الذي نزودك به، او عبر
      منصات الدفع الالكترونية باي نوع من أنواع البطاقات الائتمانية قبل تقديم الخدمة لك. وتتحمل وحدك مسؤولية دفع جميع
      الرسوم في موعدها وتقر بأن أي مبلغ يُدفع لا يمكن استرداده، ولا يلزم منصة تأكيد تقديم الخدمة لك إذا لم يتم دفع قيمة
      الخدمات مقدماُ، حتى لو أثر ذلك على اعمالك او تسبب لك بالضرر.<br>
      - بموافقتك على شروط المستخدم الماثلة، فإنك توافق على أن أحقية دخولك على البيانات المحفوظة في نظام منصة تأكيد مرتبط
      بكون حسابك نشطاً واشتراكك مدفوع القيمة، وأن عدم دفع المبالغ المستحقة عليك يترتب عليه حجب استخدامك للخدمة والبيانات
      المحفوظة عليها.<br>
      - في حال عدم قيامك بدفع قيمة الاشتراك المستحق في نظام تأكيد فإن منصة تأكيد ستمنحك مهلة للسداد أقصاها ثلاثين يوماً
      قبل قيامها بحجب استخدامك للخدمة والبيانات المحفوظة عليها، على أن يتم فوترة هذه المهلة من قبل خدمة تأكيد ودفعها من
      قبلك كمستخدم.
      <p>
        التعويض<br>
        بموافقتك على شروط المستخدم المدرجة في الاتفاقية واستخدام الخدمة، فإنك توافق على الدفاع عن منصة تأكيد والشركات
        التابعة لها والجهات المرخِّصة لها وكل مسؤول من مسؤوليها ومديريها وغيرهم من المستخدمين والموظفين والمحامين
        والوكلاء وعدم إلحاق الضرر بهم وإبراء ذمتهم من أي مطالبات، تكاليف، أضرار، خسائر، مسؤوليات ومصروفات (بما في ذلك
        أتعاب وتكاليف المحاماة) والتي تنشأ عن أو ترتبط بما يلي:<br>
        - انتهاكك أو مخالفتك لأي شرط من شروط المستخدم الماثلة في الاتفاقية بين منصة تأكيد والمستخدم أو لأي قانون أو
        لوائح معمول بها، سواء أشير إليها في شروط وأحكام الاستخدام هذه أم لا.<br>
        - انتهاكك لأي حقوق تخص الغير، بما في ذلك مُقدمي الخدمات الذين ينظمهم خدمة منصة تأكيد.<br>
      </p>
      <p>إساءة استخدامك للخدمة.<br>
        المسؤولية القانونية
      </p>
      <p>
        o المعلومات والتوصيات والخدمات أو أي منها التي قُدمت لك على أو من خلال موقع الويب والخدمة ما هي إلا لأغراض
        المعلومات العامة فقط ولا تمثل أي نصيحة. ستحافظ منصة تأكيد قدر الإمكان على صحة وتحديث الموقع والخدمة ومحتوياته،
        لكنها لا تضمن أن (محتويات) الموقع أو الخدمة خالية من الأخطاء أو العيوب أو البرامج الضارة والفيروسات ولا تضمن صحة
        ودقة وتحديث موقع الويب والخدمة.<br>
        o لا تتحمل منصة تأكيد المسؤولية عن أي أضرار تنتج عن استخدام (أو عدم القدرة على استخدام) الموقع أو الخدمة، بما في
        ذلك الأضرار التي تسببها البرامج الضارة أو الفيروسات، كما لا تتحمل مسؤولية عدم صحة أو عدم اكتمال المعلومات أو
        موقع الويب أو الخدمة، ما لم يكن هذا الضرر ناتج عن سوء سلوك عمدي أو عن إهمال جسيم من جانب منصة تأكيد.<br>
        o كما لا تتحمل منصة تأكيد أي مسؤولية عن أي أضرار تنتج عن استخدام (أو عدم القدرة على استخدام) وسائل اتصال
        إلكترونية مع الموقع الإلكتروني أو مع الخدمة، بما في ذلك – على سبيل المثال لا الحصر – الأضرار الناتجة عن عدم
        تسليم المخاطبات الإلكترونية أو التأخر في تسليمها أو اعتراضها أو التلاعب في المخاطبات الإلكترونية من جانب الغير
        أو من جانب برامج الكمبيوتر المستخدمة للمخاطبات الإلكترونية ونقل الفيروسات.<br>
        o تسعى منصة تأكيد قدر الإمكان لتوفير خدماتها الإلكترونية على مدار العام خلال أربعة وعشرون ساعة خلال أيام
        الأسبوع، وفي جميع الأحوال، فإنها لا تضمن عمل نظام منصة تأكيد بشكل كامل طوال العام، وأنه سيكون هناك توقفات لغرض
        الصيانة أو التحديث الدوري أو إضافة خواص جديدة على الخدمة.
      </p>
      <p>
        تعديل الخدمات<br>
        بموافقتك على شروط المستخدم الماثلة واستخدام الخدمة، فإنك توافق على ان تحتفظ منصة تأكيد بحقها، وبإرادتها
        المنفردة، بأن تقوم في أي وقت بالآتي:<br>
        تغيير الخدمات أو أي مواد مرتبطة بها، أو إيقاف نشر خدماتها.<br>
        إذا قررت تأكيد إيقاف نشر خدماتها، فإنها قد تقوم بإرادتها باستبدال الخدمات بمواد أخرى مشابهة او الغائها سواء
        بمقابل مالي او مجاناُ.<br>
        نشر وتشغيل الخدمات تجريبياُ لقياس جودتها ثم استمرارها او تعديلها او الغاءها سواء بمقابل مالي او مجاناُ
      </p>
      <p>
        حدود المسؤولية<br>
        لا تقدم منصة تأكيد أي ضمانات، واضحة أو ضمنية، تتعلق بالخدمات، جميعها يتم تقديمها “كما هي”. وتخلي منصة تأكيد
        مسؤوليتها بشكل واضح، إلى أقصى درجة ممكنة وفقاً للقانون والأنظمة المتعارف عليها بالمملكة والمتعلقة بكافة
        الضمانات، وتشمل ولا تقتصر على: ضمانات الملائمة لغرض معين،
        الملائمة لمواصفات وأسواق معينة، وقابلية حقوق الملكية للبيع، كما أن منصة تأكيد لا تضمن دقة، أو محتوى، أو توقيت
        الخدمات أو النتائج التي قد ينالها أو لا ينالها مستخدم الخدمات. كما لا تقدم منصة تأكيد اي ضمانات او وعود او تأكيد
        لمستخدمي الموقع على الحصول على عقود حراسات او عروض اسعار للمنافسات المطروحة ولا تضمن التوظيف وعقود العمل او
        غيرها من اهداف تهم مستخدمي المنصة حيث تقدم منصة تأكيد نفسها كشركة لديها نظام تقني للمتعاملين والمهتمين بقطاع
        الحراسات الامنية المدنية الخاصة باختلاف مواقعهم وصفاتهم واهدافهم و لمستخدمي المنصة كامل الحرية في اتخاذ القرارات
        التي تخص اهتماماتهم واهدافهم من طرح المنافسات وتقديم عروض الأسعار واعلانات الوظائف والتقديم للوظيفة والالتحاق
        بدورات التدريب الالكترونية عن بُعد والاختيار والتواصل والاتفاق او الرفض او التعاقد مع الاطراف الأخرى او التفويض
        لاي طرف دون ادنى تدخل من منصة تأكيد على قرار المستخدمين, كما لن تكون منصة تأكيد أو وكلائها أو مانحي التراخيص أو
        الشركات التابعة لها مسؤولة في أي حال من الأحوال عن الأضرار المباشرة أو غير المباشرة أو الجزاءات أو الأضرار
        الخاصة أو حدوث أضرار عرضية أو تبعية وتشمل على سبيل المثال لا الحصر: الأضرار الناتجة عن خسارة الأرباح، تعطل
        الأعمال، فقدان معلومات الأعمال أو غيرها من الخسائر المالية الناجمة بشكل مباشر أو غير مباشر عن الوصول إلى الخدمات
        واستخدامها (أو الفشل في استخدامها) أو الاعتماد عليها.
        في جميع الأحوال، فإنك بموافقتك على شروط المستخدم هذه تقر بأن حدود مسؤولية منصة تأكيد في الاحتفاظ بالبيانات هي
        ستة أشهر للاشتراكات التجريبية، وسنتين للاشتراكات المدفوعة، وأن لمنصة تأكيد بعد ذلك الحق في حذف هذه البيانات
        كلياً من خدمتها والتخلص منها بالطريقة التي تراها تأكيد مناسبة وامنة.

      </p>
      <p>
        الأمان<br>
        إنك تقر بتحملك المسؤولية منفرداً عن خصوصية الخدمات، كما إنك مسؤولاً منفرداً عن استخدامها من قبل أي شخص آخر مكنته
        من استخدام حسابك /أو سمحت له باستخدام اسم المستخدم أو كلمة المرور أو مسوغات الوصول الخاصة بك. كما أنك توافق على
        إخطار منصة تأكيد إذا أصبحت على علم بأي خسارة، أو سرقة، أو استخدام غير مصرح به لأي كلمة مرور، أو اسم مستخدم أو
        عنوان بروتوكول الإنترنت IP، أو غير ذلك من أساليب الوصول إلى الخدمات.

      </p>
      <p>
        التعاملات مع الغير
        أثناء استخدام موقع الويب والخدمة، قد يتم من وقت إلى آخر توفير ارتباطات لمواقع ويب يمتلكها ويتحكم بها الغير من
        أجل مراسلة الغير أو شراء منتجات أو خدمات منه أو المشاركة في العروض الترويجية التي يقدمها. تنتقل بك تلك
        الارتباطات إلى خارج الموقع والخدمة، وهي خارج نطاق سيطرة منصة تأكيد.<br>
        أثناء استخدامك لموقع الويب والخدمة، قد تراسل أو تشتري بضائع أو خدمات أخرى أو تشارك في عروض ترويجية مقدمة من
        مقدمي خدمات أو مُعلنين أو جهات راعية تعرض بضائعها أو خدماتها عبر ارتباط على موقع الويب أو من خلال الخدمة. تنتقل
        بك تلك الارتباطات إلى خارج الموقع والخدمة، وهي خارج نطاق سيطرة ’’ منصة تأكيد ’’. إن مواقع الويب التي يمكنك
        الارتباط بها لها شروط وأحكام مستقلة وكذلك سياسة الخصوصية المستقلة. ولا تتحمل منصة تأكيد أي مسؤولية عن محتوى
        مواقع الويب تلك وأنشطتها ولا يمكن مساءلتها عنها. ولذلك، فإنك تتحمل كامل المخاطر التي تنتج عن زيارة تلك المواقع
        أو دخولها.<br>
        يُرجى ملاحظة أن تلك المواقع الأخرى قد ترسل ملفات تعريف الارتباط الخاصة بها إلى المستخدمين أو تجمع بياناتهم أو
        تطلب معلومات شخصية، ومن ثم، نوصيك بالتحقق من شروط الاستخدام أو سياسات الخصوصية الموجودة على تلك المواقع قبل
        استخدامها.
      </p>
      <p>
        مدة العقد :<br>
        يكون العقد المُبرم بينك وبين منصة تأكيد غير محدد المدة. ويحق لك إنهاء العقد بأن تغلق حساب المستخدم الخاص بك في
        أي وقت على الا يكون عليك التزامات باقية لمنصة تأكيد .
        يحق ’’ لمنصة تأكيد إنهاء العقد بأثر فوري في أي وقت (بتعطيل استخدامك للخدمة)، وذلك في حالة قيامك بأي مما يلي:<br>
        انتهاك أو خرق أي شرط من شروط المُستخدم.<br>
        إذا رأت منصة تأكيد أنك تسيء استخدام الخدمة.<br>
        لأي سبب خاضع لتقدير منصة تأكيد المطلقة.<br>
        كما أن منصة تأكيد غير ملزمة بإرسال سابق إخطار بإنهاء العقد في حال تم التحقق من أسباب الإساءة والتجاوزات المخالفة
        لهذه الاتفاقية

      </p>
      <p>
        بطلان حكم أو أكثر<br>
        لا يؤثر بطلان أي حكم من أحكام وشروط المستخدم الماثلة في هذا العقد على صحة باقي الأحكام الأخرى الواردة فيه.<br>
        في حالة وجود أي حكم باطل في شروط المستخدم الماثلة أو وجود حكم غير مقبول في ظروف معينة وفقًا للمعايير المتعارف
        عليها والعدالة وإلى هذا المدى فقط، يُعمل بدلاً منه بين الطرفين بحكم يكون مقبولاً مراعاةً لجميع الظروف ويتوافق مع
        أحكام الشرط الباطل قدر الإمكان، مع مراعاة محتوى شروط المستخدم الماثلة وغرضها.<br>
        تعديل الخدمة وشروط المستخدم<br>
        تحتفظ منصة تأكيد لنفسها بالحق، وفقًا لتقديرها وحدها، في تعديل أي شرط من شروط المستخدم الماثلة أو استبداله، أو
        تغيير الخدمة أو تعليقها أو إيقافها (بما في ذلك على سبيل المثال لا الحصر، توفير أي ميزة أو قاعدة بيانات أو محتوى)
        في أي وقت، وذلك بنشر إخطار على الموقع أو بإرسال إخطار لك من خلال الخدمة أو عبر البريد الإلكتروني. كما يجوز لمنصة
        تأكيد أن تضع مشرف على مميزات وخدمات مُعيَّنة أو تحد من وصولك إلى أجزاء من الخدمة أو الخدمة بأكملها دون إخطار أو
        مسؤولية.
      </p>
      <p>
        الإخطار<br>
        يجوز لمنصة تأكيدان ترسل إخطارًا عن طريق الخدمة، أو بإرسال بريد إلكتروني إلى عنوانك البريدي المُسجل في معلومات
        الحساب لدى منصة تأكيد، أو بإرسال مكاتبة بالبريد العادي على عنوانك المسجل في معلومات الحساب لدى تأكيد
        القانون المعمول به وحل النزاعات
        تخضع شروط المستخدم الماثلة ويطبق على تسوية أي نزاع أو مطالبة أو خلاف ينشأ عن شروط المستخدم الماثلة أو يتعلق بها
        أو أي انتهاك لها أو إنهائها أو تنفيذها أو تفسيرها أو صحتها أو استخدام الموقع أو الخدمة، للقوانين والأنظمة
        المطبقة في المملكة العربية السعودية وتفسر وفقاً لها.<br>
        للتواصل معنا
        إذا كان لديك أي أسئلة بشأن شروط المستخدم هذه، أو الممارسات بهذه الخدمة، أو تعاملاتك مع الخدمة، يمكنكم التواصل
        معنا من خلال نموذج الاتصال في الموقع او عبر البريد الالكتروني

      </p>
    </div>
    <div *ngIf="!(lang.isAr | async)">
      <p class="text-primary fs-4 fw-bold">Terms and Conditions of Use</p>
      <p>agreement Conditions and provisions the use: -</p>
      <p>
        represent this is controls and terms an agreement Official“a necklace” between a company emphasis for technology
        the information“confirmation platform” and my users Platform.
        control Conditions the use this is your use to serve platform emphasis And who he is phrase About System
        electronic Provides for customers and users Management and run operations guards the wish civil Private on a
        scale specialized in the security of private guards.
      </p>
      <p>
        that Which Use From before you for services that provides it System 'confirmation platform' make up consent From
        you on me this Contract and all its provisions and its terms, And accordinglyK Should upon you non Use the
        system in case did not be ok on me judgments and terms received in this Contract.<br>
        keep 'confirmation platform' right Modify or changing this is judgments and terms Without Notification prior,
        and be From your responsibility as a user for the system review Regulations and terms the use in the form of
        Cyclic To find out Updates that occur on me this is judgments and conditions, as such hope review Policy Privacy
        we've got To find out More Around how to Use confirmation platform for info that progress Our From Before users
        the system.<br>
        entitlement get on me Services<br>
        You are you acknowledge guarantee next one:<br>
        it's a did not precede that It was completed disable your use for services ''emphasis'' or prevented you From
        use in Which time From times.<br>
        you I'm not contender ''To confirm'' as such you no progress Which Producer competitor for services Introduction
        From 'confirmation platform'.<br>
        you enjoy in full Power Considerable capacity and authority to contract and you so will not be violating for any
        Law or a necklace.
      </p>
      <p>
        pledges and guarantees:
      </p>
      <p>
        You are you acknowledge guarantee that you Will:
        - comply for all laws and regulations Maamoul out in The kingdom Arabic Saudi Arabia.<br>
        - progress informations correct and minute to me 'Confirmation platform' and do update it in the form of
        Cyclic.<br>
        - reviewed and comply for any Notices Complete send it From During 'Confirmation platform' or mention it in
        platforms Affirmation and its affiliates in Regard using you for services Introduction from System ''emphasis
        ''.<br>
        - get up repeatedly licenses From the inner, or Issuance, or Spread, or Transfer, or distribution, or to
        implement, or Show, or Sale, or re classification Services '' emphasis'', Otherwise you be may be quoted the
        service or I did using it commercially, except What Allow with it under this Contract.<br>
        - will used the service for purposes legitimate Just, will not used Services to send or storage Which Material
        not legal or with a goal fraud.<br>
        - used the service to cause Harming or harassment or Disturbance one What or harm it in any way?<br>
        - obstacle Employment proper system ,, emphasis ,,.<br>
        - trying append Harm on service any appearance From shapes.<br>
        - copy or distribution the system or Contents other Without get on me So my book from platform emphasis.<br>
        - will keep on me a word the traffic for your account or Which Instrument identification we present for you and
        let Access to me your account, in a way security and secret.<br>
        - will progress Our all directories that prove Your identity According for a text reporte emphasis The
        private.<br>
        - right for confirmation platform to reject Submit the service or Use the system Without express Reasons.<br>
        - acknowledgment that data Input in your profile and order correct and complete, and in case Presence data not
        correct or imperfect may be cause in to reject Submit the service and be susceptible accountable Legal
        authorities with the competent authorities in the Kingdom.<br>
        - acknowledgment that all attachments and documents Introduction From you correct and complete, and that in case
        fix non her health or hide Documents It was needed presenting it may be cause in to reject your order and be
        susceptible accountable Legal and ignoring your request from the confirmation platform.<br>
        - acknowledgment Knowing you on me all the conditions and provisions for platform emphasis and commitment all
        pledges mentioned and teach you in a way Use Platform, and your commitment all procedures followed in Register
        and use for the platform, Nor right for you objection on me Which Of which or claim not your knowledge out Later
        or Claim by compensation or Recovery sums Paid if you register with the services.
      </p>
      <p>
        Pledge Special with my representatives comp guards the wish and facilities contracting with her:<br>
        I promise by doing fill in and update Model informations systems the wish for facilities commercial and
        government for the facility own with me in the form of Cyclic.<br>
        I promise by doing fill in and update Model informations systems the wish for facilities commercial and
        government And that for all Contracts hammered with Enterprise.<br>
        Domain License
        - give you confirmation platform license not exclusive, and change Met convertible, or to concede, or for
        licensing From the inner and change Met to cancel And that to get on me Our services and use Just for the
        purpose profile determinant According For this Contract, So Should upon you
        -non availability Services or Leasing, or rent or Customize or re Sale, or distribution or license From the
        inner for this Services to me Which party third.<br>
        - non Modify, or shorthand, or Translation, or Summarization, or construction a job sub- get up on me decode, or
        to implement engineering reverse to design ''platform emphasis '' or dispute that From Determine or attempt
        Determine or attempt Access to me code Source or the design inner for services or Which text or media
        multi(photo, audios, Files video), or data And the Other From the information that offered by confirmation
        platform or party Third From sponsors the service.<br>
        - non delete, or changing, or make any modification on me Which right From rights Publishing or Other From
        Notifications official received in Services and notices.<br>
        - non deliberate Transfer, or distribution Services, or Allow download Services to use other than What he is
        specific in this agreement.non claim by granting Services or Allow by arriving to her for any person other than
        you unless he has obtained a license from Takdeed platform
        - non Allow Share Noun the user/or a word the traffic or Other From justifications Access to me Services
        Affirmation platform with any third party not related to the platform i.e. not subscribed.<br>

      </p>
      <p>
        rights Property intellectual<br>
        all rights Property intellectual for this Services and all Materials related out and its affiliate or that
        Appear on her(Include Which content get up presenting it or including it)he is Property Especially for
        confirmation platform.And must upon you Except get up re Produce or Allow for any person–for any reason From the
        reasons–using or re Produce Services or Which Signs commercial or Names commercial and others From services that
        Appear in The service provided to the second party.
      </p>
      <p>
        paying off<br>
        she decided confirmation platform duty fees New, it will be your advice so . will be Allow for you keep going in
        Contract or finish it.<br>
        - Permissible for confirmation platform Modify or Modernization the prices From time for the last.and falls on
        me your shoulders responsible stay on me knowledge at prices current for services Introduction From During page
        the prices can Access to her From During the page Main.<br>
        - must upon you Pay Values Services to me confirmation platform About road remittances banking to me the account
        bank that we provide you with it, or Across platforms paying off e What kind of credit card before? Submit the
        service for you.and bear alone responsible Pay all Fee in its time and acknowledge that Which amount Pay no Can
        retrieve it, Nor needed platform emphasis Submit the service for you if did not Complete Pay Values Services
        advance, until if Effect that on me your works or it causes for you damage.<br>
        - with your consent on me Conditions the user the like, you agree on me that entitlement your entry on me data
        saved in System Linked confirmation platform be your account active and your subscription paid the value, and
        that non Pay sums owed upon you consequent on him block your use for service and data saved on her.<br>
        - in case non you rise to pay Values Subscription worthy in System emphasis then An affirmation platform that
        will give you time limit to repay maximum thirty day Before her rise blocking your use for service and data
        saved on her, on me that Complete billing this is timeout From Before service emphasis push it From before you
        as a user.
      </p>
      <p>
        compensation<br>
        with your consent on me Conditions the user included in the agreement and use the service you agree on me
        Defense About confirmation platform and companies Affiliate to her and destinations licensor to her and all
        responsible From its officials and its managers and others From Users and staff and lawyers and agents and not
        append Harm their and discharge I blame them From Which claims, costs, damage, losses, Responsibilities and
        expenses(what in that fee and costs Lawyer)which arise About or linked what follow:<br>
        - your violation or I disagree with you for any condition From Conditions the user similar In the agreement
        between the confirmation platform and the user or for any Law or regulations done out, whether point out to her
        in Conditions and provisions the use this is Mother no.
        , your violation for any rights Belonging to others, what in that presenters Services Whose organize them
        service confirmation platform.

      </p>
      <p>

        Offense your use for service.<br>
        the responsibility Legal<br>
        o the information and recommendations and services or Which Of which that Submitted for you on me or From During
        Site the web and service What she Except for purposes the information the public Just Nor represent Which
        advice.will keep confirmation platform Saucepan possible on me health and update Location and service and its
        contents, but she no included that(Contents)Location or the service Empty From mistakes or Defects or Software
        harmful and viruses Nor included health and accuracy and update Site the web and service.<br>
        o no bear confirmation platform the responsibility About Which damage produce About Use(or non Ability on me
        Use)Location or the service, what in that Damage that caused by Software harmful or viruses, as such no bear
        responsible non health or non completion the information or Site the web or the service, What did not not this
        Harm product About Ill behavior deliberate or About Neglecting particle From side confirmation platform.<br>
        o as such no bear confirmation platform Which responsible About Which damage produce About Use(or non Ability on
        me Use)means Contact electronic with Location electronic or with the service, what in that–on me way example no
        limitation–Damage resulting About non Delivery Correspondence e or the delay in delivered or her objection or
        manipulation in Correspondence e From side the others or From side Programs Computer used for correspondence e
        and transfer Viruses.<br>
        o Seeking confirmation platform Saucepan possible to provide its services e on me orbit general within
        twenty-four an hour within days the week, and in all conditions, she no included a job System confirmation
        platform in the form of Full throughout general, and that Will be there stops for a purpose maintenance or
        Update league or addition properties New on me the service.

      </p>
      <p>

        Modify Services<br>
        with your consent on me Conditions the user similar and use the service, you agree on me that keep confirmation
        platform her right, And of her own will singly, that get up in Which time by the following:<br>
        changing Services or Which Material linked out, or turning off Spread its services.<br>
        if she decided emphasis turning off Spread its services, she may be get up willingly replace Services with
        materials Other Similar or cancel it whether in return Financial or Free.<br>
        Spread and run Services experimentally To measure its quality then its continuity or modified or cancel it
        whether in return Financial or Free.<br>
        border the responsibility<br>
        no progress confirmation platform Which Guarantees, clear or implied, Related with services, all of them
        Complete presenting it“as such she”.and give up Responsibility assertion platform in the form of Clear, to me
        Maximum Degree possible According The laws and regulations recognized in the Kingdom and related all guarantees,
        Include Nor confined on me:Guarantees Convenience for a purpose a certain,
        Convenience to specification and markets certain, and portability rights Property for sale, as such that
        confirmation platform no included Accuracy, or content, or timing Services or Results that may be get it or no
        get it user Services.as such no progress platform emphasis Which Guarantees or promises or emphasis for users
        Location on me get on me contracts guards or Offers prices for competitions posed Nor included recruitment and
        contracts the work or Other From Goals matter users Platform Where progress platform emphasis itself as a
        company she has System Technical for dealers and interested sector guards the wish civil own different their
        locations their recipes and their goals And the for users Platform Full Freedom in take decisions that Belonging
        to their interests and their goals From Subtract competitions and present Offers the prices and ads Jobs and
        presenting for the job and join courses training electronic remote control And the choice and communication and
        agreement or rejection or contract with the parties other or delegation for any party Without minimum
        intervention From platform emphasis on me resolution Users,as such will not be confirmation platform or its
        agents or donors licenses or companies Affiliate to her responsible in Which case From conditions About Damage
        direct or not direct or Sanctions or Damage own or happening damage cross or subordination Include on me way
        example no limitation:Damage resulting About Loss profits, Breakdown Business, Loss informations Business or
        Other From losses Finance caused in the form of Live or not Live About Access to me Services and use(or failure
        in use)or Accreditation on her.<br>
        in all conditions, you with your consent on me Conditions the user this is you acknowledge that border
        responsible platform emphasis in keep with data she six Months for subscriptions Experimental, and two years for
        subscriptions paid, and that for confirmation platform distance that right in delete this is data entirely From
        her service and get rid of Of which the way that see it emphasis Suitable and safe.

      </p>
      <p>

        Safety<br>
        you you acknowledge can bear you the responsibility solo About Privacy Services, as you are responsible solo
        About use From Before Which person else enabled him to use your account/or let him using the name the user or a
        word the traffic or justifications Access own your.as such you agree on me Notification confirmation platform if
        I became on me Science any Loss, or theft, or Use not authorized with it for any a word passage, or Noun user or
        Title protocol Internet IP, or not that From Techniques Access to me Services.<br>
        transactions with the others<br>
        during Use Site the web and service, may be Complete From time to me else to provide links for sites web owns it
        and controls out the others From Yes message the others or Buy products or Services from him or Share in Offers
        promotional that offered by.Move your That links to me Outside Location and service, Which Outside Domain
        control confirmation platform.<br>
        during your use site the web and service, may be correspondence or buy goods or Services other or Involved in
        Offers promotional an introduction From sponsors Services or advertisers or destinations sponsor exposure her
        goods or its services Across Engagement on me Site the web or From During the service.Move your That links to me
        Outside Location and service, Which Outside Domain control 'Confirmation platform'.that sites the web that you
        may link out to her Conditions and provisions independent as well Policy Privacy independent.Nor bear
        confirmation platform Which responsible About content sites the web That and its activities Nor Can hold her
        accountable about her.Therefore, you bear Full Risks that produce About Visit That Locations or her entry.<br>
        Kindly note that That Locations other may be send Files identification link own out to me Users or gathering
        their data or Ask informations Character, And from then, We recommend you by checking From Conditions the use or
        Policies Privacy existing on me That Locations Before use.<br>

      </p>
      <p>
        Period Contract :<br>
        is being Contract concluded pink and between Non-confirmation platform specific Duration.and right for you
        ending Contract that shut down account the user The private your in Which There is a time when you will not have
        any remaining commitments to the Affirmation platform.<br>
        right ''For confirmation platform ending Contract trace immediately in Which time(disable your use for service),
        And that in condition you rise any Than follow:
        violation or to break Which condition From Conditions the user.<br>
        if she saw confirmation platform you offend Use the service.<br>
        for any reason subject to estimate Absolute confirmation platform.<br>
        as such that Non-confirmation platform binding send former Notification ending The contract in the event that
        the causes of abuse and violations of this agreement are verified<br>
        contraindicated Rule or more<br>
        no impact contraindicated Which Rule From provisions and terms the user similar In this contract on health
        Remainder judgments other received in it.<br>
        in condition Presence Which Rule void in Conditions the user similar or Presence Rule not Acceptable in
        conditions certain According for standards common law and justice and to this Term Just, Works instead of from
        him between the two parties judging is being acceptable in consideration for all Circumstances and corresponds
        with provisions the condition falsehood Saucepan possible, with consideration content Conditions the user
        similar and purpose.

      </p>
      <p>
        Modify the service and terms the user<br>
        keep confirmation platform for herself rightly, According to appreciate alone, in Modify Which condition From
        Conditions the user similar or replace it, or changing the service or her comment or stop it(what in that on me
        way example no limitation, to provide Which advantage or Base data or content)in Which time, And that publish
        Notification on me Location or send Notification for you From During the service or Across Mail electronic.as
        such Permissible for confirmation platform that Put Supervisor ofy Features and services specific or challenge
        From your arrival to me parts From the service or the service whole Without Notification or responsible.<br>
        Notification<br>
        Permissible for the affirmation platform send Notification About road the service, or send Mail electronic to me
        your address zip the recorder in informations the account I have confirmation platform, or send writing by mail
        ordinary on me your address the recorder in informations the account I have emphasis
        Law Maamoul with it mud Disputes
        subject Conditions the user similar and apply on me Settlement Which conflict or Claim or dispute Originates
        About Conditions the user similar or Regard out or Which violation to her or finish it or implemented or its
        interpretation or her health or Use Location or the service, for the laws and systems applicable in The kingdom
        Arabic Saudi Arabia and explain According to her.<br>
        To communicate With us<br>
        if It was You have Which Questions about Conditions the user this is, or practices with this the service, or
        your dealings with the service, you can communication With us From During Model Connection in Location or Across
        Mail electronic

      </p>
    </div>
  </div>
</div>

<app-footer>
</app-footer>
