.id-card {
  position: absolute;
  right: 0;
  left: auto;
  margin: 0 1rem;
}

:host :host-context(.ar) {
  .id-card {
    right: auto !important;
    left: 0 !important;
  }
}


.start {
  width: 10px;
  height: 45px;
  background-color: #55C154;
  position: absolute;
  top: 10px;
  right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}