<div class="position-relative header">
  <div class="bg-primary position-fixed w-100">
    <app-navbar>

    </app-navbar>
  </div>
</div>
<div class="h-100 bg-info-o  py-5">

  <div class="container py-5 mt-5">

    <div class="row mt-4">
      <div class="d-flex mb-4 flex-wrap flex-row-reverse flex-md-row justify-content-center align-items-center gap-3">

        <div class="col-12 col-md-6">
          <div class="input-group bg-info-o">
            <input type="text" class="form-control placeholder-sm" aria-label="Enter your email address"
              aria-describedby="button-search" placeholder="{{ 'search_client_companies' | translate }}"
              [(ngModel)]="searchKey" />
            <button class="btn btn-warning text-white rounded-8" type="button" id="button-search">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="row g-3 p-0 ">

        <app-client-companies-card class="col-lg-4 col-md-6 " *ngFor="
        let item of clients.data
          | filter: searchKey
          | paginate
            : {
                itemsPerPage: pageSize,
                currentPage: pageNumber,
                totalItems: clients.totalCount,
                id: 'clients'
              }
      " [data]="item">

        </app-client-companies-card>
      </div>
      <div class="d-flex mt-3 align-items-center justify-content-between gap-3">
        <div class="text-info d-flex gap-3 align-items-center">
          <label class="fw-500" verify="global.for_page"></label>
          <div>
            <select class="form-select bg-white" (change)="onPageSizeChange($event)">
              <option *ngFor="let size of sizes" [selected]="size == pageSize">
                {{ size }}
              </option>
            </select>
          </div>
        </div>
        <pagination-controls id="clients" (pageChange)="onPageNumberChange($event)"
          (pageBoundsCorrection)="onPageNumberChange($event)" [maxSize]="5"  [responsive]="true" [previousLabel]="''"
          [nextLabel]="''" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
