<!-- <div class="vh-100">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-lg-5 col-12 p-0">
        <router-outlet></router-outlet>
      </div>
      <div
        class="col-lg-7 d-none d-lg-block auth-side position-fixed h-100"
      ></div>
    </div>
  </div>
</div> -->




<div class=" main position-relative">

  <div class="container-fluid h-100">
    <div class="row h-100 ">
      <div class="col-lg-6 col-12 p-0">
        <router-outlet></router-outlet>
      </div>
      <div class="line"></div>
      <div class="col-lg-6 d-none d-lg-block auth-side position-fixed h-100"></div>
      <div class="col-12">
        <div class="d-flex justify-content-center pt-5 mt-4">
          <img class="vision position-absolute" src="assets/images/svg/vision.svg" alt="">
        </div>

      </div>
    </div>

  </div>
</div>