<div class="bg-primary">
  <app-navbar>

  </app-navbar>
</div>
<div class="container py-4">
  <div class="py-4">
    <div class="header px-4 px-md-5">
      <div class="row h-100 row-cols-2 align-items-center">
        <div class="mt-8">
          <h1 class="display-4 fw-700 text-primary d-none d-md-block">
            {{'privacy'|translate}}
          </h1>
          <h1 class="fw-700 text-primary d-block d-md-none">{{'privacy'|translate}}</h1>
          <nav class=" fs-18">
            <a class="text-decoration-none text-primary">{{'home' |translate}}/ </a>
            <a class="text-decoration-none text-primary" >{{'privacy'|translate}}</a>
          </nav>
        </div>
        <div class="d-flex justify-content-center">
          <img src="assets/images/bgs/about.png" alt="about-takid" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
  <div class="content container">
    <p *ngIf="(lang.isAr | async)">تحكم سياسة الخصوصية الأسلوب الذي تقوم به “منصة تأكيد” بجمع، معلومات الاستخدام، والحفاظ والتصريح بالمعلومات التي تم
    جمعها من قبل مستخدمين خدمة “منصة تأكيد”، وتطبق سياسة الخصوصية هذه في الخدمة وكافة المنتجات والخدمات المقدمة من “منصة
    تأكيد”.<br>
    معلومات الهوية الشخصية:<br>
    تعمل “منصة تأكيد” بجمع معلومات عن الهوية الشخصية للمستخدمين بطرق مختلفة، وتشمل ولا تقتصر فقط على: أوقات زيارة
    المستخدم للخدمة، التسجيل في خدمة “منصة تأكيد”، تعبئة الطلب، نموذج الاستبيان، وغير ذلك من أنشطة، الخدمات، والميزات أو
    المصادر التي قد نوفرها على خدماتنا (منصة تأكيد) .<br>
    كما أنه قد يُطلب من المستخدمين توضيح الاسم بشكل كامل، عنوان البريد الإلكتروني، رقم الهاتف، وبيانات الايبان البنكي او
    بطاقة الصرف الآلي المستخدمة عند المستخدم مثل (بطاقة مدى ).<br>
    معلومات لا تتعلق بالهوية الشخصية:<br>
    تقوم “منصة تأكيد” بجمع بعض المعلومات عن المتفاعلين أينما كانوا مع خدمة تأكيد، وهذه المعلومات لا تتعلق بالهوية
    الشخصية إنما قد تتضمن معلومات تقنية عن أساليب اتصال المستخدم بالخدمة، مثل الشركة المستخدمة لتقديم خدمة الإنترنت (stc
    ) مثلا وغيرها من المعلومات المشابهة.<br>
    كيف نقوم باستخدام المعلومات التي تم جمعها<br>
    تقوم “منصة تأكيد” بجمع واستخدام المعلومات الشخصية للمستخدمين في الأغراض التالية:
    تحسين جودة خدمة العملاء:<br>
    تساعدنا المعلومات الخاصة بك على سهولة الاستجابة لطلباتك الموجهة لخدمة العملاء واحتياجاتك للدعم بشكل أكثر فاعلية.
    لتحسين الخدمة:<br>
    تسعى منصة تأكيد لتحسين الخدمات المقدمة باستمرار من خلال الخدمة وفقاً للمعلومات والملاحظات التي نتلقاها منك من أجل
    فهم أفضل لمصالح واحتياجات مستخدمي خدماتنا في منصة تأكيد.<br>
    إرسال رسائل إلكترونية بشكل دوري:<br>
    عنوان البريد الإلكتروني الذي يسجله المستخدمون للتعامل مع طلبهم، سوف يستخدم فقط في إرسال معلومات وتحديثات لهم تتعلق
    بطلبهم. وقد يُستخدم أيضاً في الرد على استفساراتكم، أو غيرها من الطلبات والأسئلة الى ترد على الموقع .

    <br>
    في حال قرر المستخدم الانضمام إلى قائمة مراسلاتنا، فإنه سوف يتلقى رسائل على بريده الإلكتروني قد تتضمن أخبار “منصة
    تأكيد” ، آخر التحديثات، ومعلومات تتعلق بالخدمة. وإذا أراد المستخدم في أي وقت إلغاء خاصية تلقي أي رسائل مستقبلية،
    فإننا نقدم له توجيهات مفصلة حول إلغاء التسجيل في نهاية كل رسالة على بريده الإلكتروني، او يمكن للمستخدم التواصل معنا
    من خلال الخدمة أو موقعنا الإلكتروني(takid.sa)<br>
    كيف نقوم بحماية معلوماتك<br>
    نحن نتبع الإجراءات السليمة ومعايير الأمان في جمع وحفظ والتعامل مع البيانات، وذلك لحماية تلك البيانات ضد التعامل
    الغير مصرح به، أو التعديل، أو الإفصاح أو إتلاف بياناتك الشخصية، (اسم المستخدم، وكلمة المرور)، ومعلومات تخص تعاملاتك
    والبيانات المخزنة على منصة تأكيد . يتم تبادل البيانات الحساسة والخاصة بين “منصة تأكيد” ومستخدميها من خلال قنوات
    اتصال مؤمنة ويتم تشفيرها وحمايتها من خلال طرق وأساليب رقمية معتمدة.<br>
    المواقع الخاصة بالطرف الثالث<br>
    قد يجد المستخدمون إعلانات أو غيرها من المحتويات على خدمات منصة تأكيد تحمل روابط لمواقع وخدمات شركائنا، أو الموردين،
    أو المعلنين، أو الراعين، أو مانحي التراخيص، أو غيرهم من الكيانات التي تمثل الطرف الثالث. وينبغي العلم بأننا لا نتحكم
    في المحتوى أو الروابط التي تظهر على تلك المواقع ولسنا مسئولين عن الممارسات التي تقوم بها المواقع الخارجية (هل نقول
    المرتبطة بموقعنا او المحملة علة موقع منصة تأكيد ). بالإضافة إلى ذلك، فإن تلك المواقع أو الخدمات وتشمل المحتوى
    والروابط قد تتغير باستمرار. وهذه المواقع والخدمات يكون لديها سياسة الخصوصية وسياسات خدمة العملاء الخاصة بها. كما أن
    التصفح والتفاعل على أي موقع آخر، بما في ذلك المواقع التي تحمل رابط لخدمتنا، تخضع للشروط والسياسات الخاصة بتلك
    المواقع.<br>
    التغيرات التي تطرأ على سياسة الخصوصية<br>
    تمتلك “منصة تأكيد” حرية التصرف في تحديث سياسة الخصوصية هذه في أي وقت. وعندما نقوم بذلك يجب على المستخدم مراجعة تاريخ
    التحديث أسفل هذه الصفحة. لذا نحث المستخدمين على مراجعة سياسة الخصوصية بشكل متكرر ودوري للاطلاع على أي تغيرات
    بحيث يكون المستخدم على علم بما نقوم به في منصة تأكيد لحماية البيانات الشخصية التي نقوم بجمعها. يقر ويوافق المستخدم
    على مسؤوليته في مراجعة سياسة الخصوصية هذه بشكل دوري وإدراكه للتعديلات.<br>



    الموافقة على سياسة الخصوصية<br>
    استخدامك لهذه الخدمة، يفيد بموافقتك واقرارك على سياسة الخصوصية المتبعة لدينا بمنصة تأكيد والضوابط والشروط التي تحكم
    استخدام هذه الخدمة لدى منصة تأكيد .<br>
    للتواصل معنا<br>
    في حال لديك أي استفسارات أخرى عن الخدمة بمنصة تأكيد يرجى التواصل معنا من خلال نموذج الاتصال بالموقع على البريد
    الالكتروني (info@takid.sa) .<br>
    </p>
    <p *ngIf="!(lang.isAr | async)">
      Privacy Policy after modification
      The Privacy Policy governs the manner in which “Effective Platform”
      collects, use information, maintains and authorizes the information collected by users of the “Effective Platform”
      service,
      and this privacy policy is applied in the service and all products and services provided by the “Effective
      Platform”.<br>
      Personal identification information:<br>
      The Takade platform collects and processes various personal identification information, including, but not limited
      to:<br>
      the times of the user's visit to the service,registration in the “Taking Platform” service,filling out the
      application,
      survey form, and other activities, services, features or resources. that we may provide on our services (Take
      platform).
      Also, the sale may be required to clarify the full name, e-mail address,
      phone number,IBAN data or the user's debit card (such as a mada card).
      <br><br><br>
      Non-Personally Identifiable Information:<br>
      The “Effective Platform” collects some information about the interactions between Ayn and the girl with the Takade
      service,
      “The information does not work as a personal identity, but it has provided
      technical information about the user's connection to the service,
      such as the company completing the provision of the Internet service (stc)
      for example and other information in front of me.<br>
      How do you use the information collected?<br>
      Takade platform collects and uses video personal information for the following purposes:<br>
      Improving the quality of customer service:<br>
      Your information helps us to more easily respond to your customer service requests and support needs more
      effectively.<br>
      Service improvement:<br><br><br>
      Affirmation platform seeks to constantly improve the services provided through the service in accordance with
      the information and feedback we receive from you in order to better understand the interests and needs of users of
      our services
      in the Affirmation platform.<br>
      Send emails regularly:<br><br><br>
      The e-mail address registered by the appearance
      of their request will be used only to send them
      viewing information that works on their request.<br>
      It has also been presently in response to inquiries, or other requests and questions to be provided on the
      site.<br>


      In the event that the user decides to join our mailing list, Kasser will receive messages on his e-mail containing
      “Takad platform” news, the latest updates, and information working on the service.<br>
      If the user at any time wants to cancel
      the feature of receiving any future messages, we give him detailed instructions About canceling the registration
      at
      the end of each message on his e-mail,
      or you can cooperate to communicate with us through the service or
      our website (takid.sa)<br>
      How do you pass your information?<br><br><br>
      We follow timely procedures and security standards in collecting, preserving and handling data, in order to guard
      that data against unauthorized dealing, modification, disclosure or destruction of your personal data (username,
      password), and information about your buildings stored on the confirmation platform. Sensitive and session data is
      exchanged between the “Affirmation Platform” and its users through secure communication channels, and it is
      encrypted and protected through approved digital methods and methods.
      Third Party Websites
      Ads or other content appearing on the Affirmation Platform Services may find links to the websites and services of
      our partners, services, advertisers, sponsors, licensors, or other third party entities. Broadcasting Note that we
      do not control the content or links that appear on those sites and are not responsible for the sports carried out
      by
      the external sites (would we say and experience the site of the verification platform site or uploaded).<br> In
      addition, on those sites or services of the content and links may change constantly. "Service sites have their own
      privacy policy and customer service policies. <br>Browsing and interaction on any other site, including sites that
      have
      a link to our Service, meets the terms and conditions of those sites."
      Operator that occurs on the privacy policy
      Affirmation shall have the discretion to update this Privacy Policy at any time. koh you so the user should review
      the update date under this page. <br>We encourage Sale to review the Privacy Policy frequently and periodically
      for any
      changes
      The user must be aware of what you are on the Takade platform, be careful of the personal data that you collect.
      <br>The
      user acknowledges and agrees that it is their responsibility to review this privacy policy periodically and be
      aware
      of modifications.<br>



      Agree to the privacy policy<br><br><br>
      Your use of the service indicates your acceptance and approval of our Privacy Policy.<br>
      to contact us
      Contact us through the website's contact form (takid.sa).<br>

      Ads or other content appearing on the Affirmation Platform Services may find links to the websites and services of
      our partners, services, advertisers, sponsors, licensors, or other third party entities.<br>
      Broadcasting Note that we do not control the content or links that appear on those sites and are not responsible
      for
      the sports carried out by the external sites (would we say and experience the site of the verification platform
      site
      or uploaded).<br>
      In addition, on those sites or services of the content and links may change constantly.<br>
      "Service sites have their own privacy policy and customer service policies. Browsing and interaction on any other
      site, including sites that have a link to our Service, meets the terms and conditions of those sites."
      Operator that occurs on the privacy policy
      Affirmation shall have the discretion to update this Privacy Policy at any time. koh you so the user should review
      the update date under this page.<br> We encourage Sale to review the Privacy Policy frequently and periodically
      for any
      changes
      The user must be aware of what you are on the Takade platform,
      be careful of the personal data that you collect.
      The user acknowledges and agrees that it is their responsibility to review this privacy policy periodically and
      be aware of modifications.<br>

      Agree to the privacy policy<br><br><br>
      Your use of the service indicates your acceptance and approval of our Privacy Policy.<br>
      to contact us<br><br>
      Contact us through the website's contact form (info@takid.sa).
    </p>
  </div>

</div>
<app-footer></app-footer>
